<header id="header">
    <h1 id="logo"><a href="index.html">ConduitNet</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li>
                <a href="docs.html">Documentation</a>
                <ul>
                    <li><a href="docs.html#architecture">Architecture</a></li>
                    <li><a href="docs.html#cqp">Query Manual</a></li>
                    <li><a href="docs.html#client">Client</a></li>
                    <li><a href="docs.html#telemetry">Telemetry</a></li>
                </ul>
            </li>
            <li><a href="stats.html">Stats</a></li>
        </ul>
    </nav>
</header>
