<footer id="footer">
    <ul class="icons">
        <li><a href="https://www.facebook.com/profile.php?id=61584152129328" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.linkedin.com/company/conduitnet" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
        <li><a href="https://github.com/sjefvanleeuwen/conduit-net" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; ConduitNet {{YEAR}}. All rights reserved.</li><li>Design: <a href="https://www.linkedin.com/in/svanleeuwen/">Sjef van Leeuwen</a></li>
    </ul>
</footer>